.table {
  width: 40vw;
  margin: auto;
  background-color: rgba(53, 47, 68, 0.85);
  color: #dbd8e3;
  border-radius: 8px;
}
.table td {
  text-align: center;
}
.table thead td {
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
  padding: 16px;
}

.table tbody td {
  border-top: 1px dashed #dbd8e3;
  padding: 4px 0;
}

.currency {
  font-weight: bold;
}
